h1 {
  color: blue;
}

#frame {
  margin-left: 400px;
}

#container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas:
    "key-7 key-8   key-9"
    "key-4 key-5   key-6"
    "key-1 key-2   key-3"
    "key-0 key-dot key-equal";
}
#key-1 {
  grid-area: key-1;
}

#key-2 {
  grid-area: key-2;
}
#key-3 {
  grid-area: key-3;
}
#key-4 {
  grid-area: key-4;
}
#key-5 {
  grid-area: key-5;
}
#key-6 {
  grid-area: key-6;
}
#key-7 {
  grid-area: key-7;
}
#key-8 {
  grid-area: key-8;
}
#key-9 {
  grid-area: key-9;
}
#key-0 {
  grid-area: key-0;
}
#key-dot {
  grid-area: key-dot;
}
#key-equal {
  grid-area: key-equal;
}
