h1 {
  color: blue;
}

#frame {
  margin-left: 400px;
}

#container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas:
    "key-7 key-8   key-9"
    "key-4 key-5   key-6"
    "key-1 key-2   key-3"
    "key-0 key-dot key-equal";
}
