[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
jupyter = "*"
natto-py = "*"
jaconv = "*"
ipython-sql = "*"
pandas = "*"
notedown = "*"

[dev-packages]

[requires]
python_version = "3.6"
