[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
jupyter = "*"
pyyaml = "*"
natto-py = "*"
pytablewriter = "*"
jaconv = "*"
"flake8" = "*"
"9f1a152" = {path = "./sanascan_backend", editable = true}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "gunicorn sanascan_backend.http:api"
