[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"9f1a152" = {path = "./sanascan_backend", editable = true}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "gunicorn sanascan_backend.http:api"
