@value tableHeight, activeColor from "../../global.css";

.characterBoard {
  border-collapse: collapse;
  width: 100%;
  height: tableHeight;
}

.deactiveData {
  text-align: center;
  font-size: 20pt;
}

.activeData {
  composes: deactiveData;
  background-color: activeColor;
}
