@value tableHeight, activeColor from "../../global.css";

.characterBoard {
  border-collapse: collapse;
  width: 100%;
  height: tableHeight;
  font-family: "YuMin-Medium";
  font-size: 46pt;
}

.deactiveData {
  text-align: center;
}

.activeData {
  composes: deactiveData;
  background-color: activeColor;
}
