@value tableHeight from "../../global.css";

.frame {

  position: fixed;
  height: calc(tableHeight * 0.7);
  width: 70%;

  top: calc(tableHeight * 0.5);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  background-color: white;
}

.content{
}
